# Base URL
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# Database
DATABASE_URL="postgresql://username:password@localhost:5432/database_name"

# Email Configuration (Zoho)
EMAIL_HOST=smtp.zoho.com
EMAIL_PORT=465
EMAIL_USER=your-email@yourdomain.com
EMAIL_PASSWORD=your-app-specific-password
EMAIL_FROM=your-email@yourdomain.com
EMAIL_TO=your-email@yourdomain.com

# API Keys
GOOGLE_PAGESPEED_API_KEY=your-pagespeed-api-key

# Auth Configuration
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-nextauth-secret

# Optional: Analytics
NEXT_PUBLIC_GOOGLE_ANALYTICS=your-ga-id 